<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>500 Error</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/united/bootstrap.min.css" rel="stylesheet" integrity="sha256-nKQVXFJ5JtDJlI5p1UcSf0JOFudCj9RgjBDsJSZPsS4= sha512-dbadXecsBCgqQ5XGx6SG+bO4vsfzznX6/NfAG4CuzLi76wcdLGAw2KIcsLyv7H5XsEGq0zaznpxDCAEIX9pdYA==" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Apples & Oranges</a>
	    </div>
	    <div>
	      <ul class="nav navbar-nav">
	        <li><a target="_blank" href="https://github.com/scottmcallister/django-apples-oranges"><i class="fa fa-github fa-lg"></i> Github</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div class="jumbotron">
		<h1>500 Error</h1>
		<p>Something must have gone wrong. Please try again.</p>
	</div>
</body>
</html>